@use './variables' as *;

@mixin text-gradient($direction, $colors) {
    $list: ();
    @for $i from 1 through length($colors) {
      $list: append($list, nth($colors, $i), comma);
    }
        
    background: linear-gradient($direction, $list);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }