@use './variables' as *;

@mixin text-gradient($direction, $colors) {
    $list: ();
    @for $i from 1 through length($colors) {
      $list: append($list, nth($colors, $i), comma);
    }
        
    background: linear-gradient($direction, $list);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  @mixin linear-gradient{
    background: linear-gradient($direction, rgba($theme-color-6, .7), $theme-color-7, rgba($theme-color-4, .7))
  }

    