@use 'sass:list';
$accent: rgb(120, 164, 171);
$accent-light: rgb(176, 199, 202);
$accent-dark: rgba(233, 236, 231, 8%);
$colors: $accent-dark $accent $accent-light;
$direction: 45deg;
// $accent-gradient: linear-gradient(
//     45deg,
//     rgb $accent,
//     rgb $accent-light 10%,
//     red 58%
// );

@mixin text-gradient($direction, $colors) {
    $list: ();
    @for $i from 1 through length($colors) {
      $list: append($list, nth($colors, $i), comma);
    }
        
    background: linear-gradient($direction, $list);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }