@use 'sass:list';
$bg-primary-color: #0f0f0f;
$bg-secondary-color: #f6f8fc;
$txt-primary-color: #f1f1f1;
$txt-secondary-color: #050505;

$theme-color-1: #fec979;
$theme-color-2: #ff8389;
$theme-color-3: #f1379a;
$theme-color-4: #567d9a;
$theme-color-5: #452286;
$theme-color-6: #ef5f75;
$theme-color-7: #189fed;

$accent: $theme-color-6;
$accent-light: $theme-color-7;
$accent-dark: $theme-color-4;
$colors: $accent-light $accent $accent-dark $accent $accent-light;
$direction: 60deg;


