@use 'sass:list';
$bg-primary-color: #42414d;
$bg-secondary-color: #f6f8fc;
$txt-primary-color: #f1f1f1;
$txt-secondary-color: #0f0f0f;

$theme-color-1: #fec979;
$theme-color-2: #ff8389;
$theme-color-3: #f1379a;
$theme-color-4: #567d9a;
$theme-color-5: #452286;
$theme-color-6: #ef5f75;

$accent: $theme-color-6;
$accent-light: $theme-color-2;
$accent-dark: $theme-color-5;
$colors: $accent-dark $accent $accent-light;
$direction: -60deg;