@forward './mixins';
@use './variables' as *;

*,*::before, *::after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}
html {
    font-family: 'Sora variable', sans-serif;
    background: #000;
    color: #333;
    width: auto;
    align-items: center;
}
body {
    background: url(../images/logo.svg), linear-gradient(-$direction, rgba( $theme-color-4, .5), rgba( $theme-color-1, .1), rgba( $theme-color-5, .5));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 64px;
    position: relative;
    footer {
        position: absolute;
        bottom: 0;
    }
    main {
        padding: auto;
        margin: 0 10%;
        width: auto;
        line-height: 2em;
        margin-bottom: 64px;
    }
    
}

/* stop body scrolling */
.stop-scrolling {
overflow: hidden;
}