@forward './mixins';
@use './variables' as *;

*,*::before, *::after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}
html {
    font-family: 'Sora variable', sans-serif;
    background: $txt-secondary-color;
    color: #fff;
    width: 100%;
}
body {
    background: url(../images/asset.webp), linear-gradient(-$direction, rgba( $bg-secondary-color, .5), rgba( $theme-color-1, .1), rgba( $theme-color-5, .1), rgba($txt-primary-color, .9));
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 64px;
    position: relative;
    // z-index: -2;
    main {
        margin: 0 0;
        width: 100%;
        line-height: 2rem;
        margin-bottom: 64px;
        padding: 1rem;
        color: $txt-primary-color;
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}

/* stop body scrolling */
.stop-scrolling {
overflow: hidden;
}