---
import Layout from '../layouts/Layout.astro';
import pf4 from '../images/pf4.jpg'
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Pump Factory">
	<main>
		<Hero title='About ' subtitle='PumpFactory' hasImage={true} image={pf4} alt={'gym photo'}/>
		<section class="about-us">
			<h1>Who we are</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, ex illum deleniti ducimus natus delectus, facilis sit atque ipsam iusto suscipit dolores porro exercitationem repellendus facere beatae! Nihil, quo facilis deleniti, eius iure harum earum blanditiis eos asperiores omnis reiciendis officiis suscipit distinctio, provident accusantium dicta? Tempore recusandae sequi cum!</p>
			<h1>Our mission</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, ex illum deleniti ducimus natus delectus, facilis sit atque ipsam iusto suscipit dolores porro exercitationem repellendus facere beatae! Nihil, quo facilis deleniti, eius iure harum earum blanditiis eos asperiores omnis reiciendis officiis suscipit distinctio, provident accusantium dicta? Tempore recusandae sequi cum!</p>
			<h1>Products and services</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, ex illum deleniti ducimus natus delectus, facilis sit atque ipsam iusto suscipit dolores porro exercitationem repellendus facere beatae! Nihil, quo facilis deleniti, eius iure harum earum blanditiis eos asperiores omnis reiciendis officiis suscipit distinctio, provident accusantium dicta? Tempore recusandae sequi cum!</p>
		</section>
	</main>
</Layout>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;

	.about-us {
		text-align: left;
		h1{
			font-size: 2rem;
			font-weight: 700;
			line-height: 1;
			margin: 1em auto;
		}

	}
	.text-gradient {
		@include  text-gradient($direction, $colors);
	}


	@media (max-width: 540px) {
        h1 {
		font-size: 2rem;

	}

		.container .section-headline {
			font-size: 2rem;
			line-height: 2.5rem;
		}

    }
</style>
