---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import pf8 from '../images/pf-008.webp'
import LinkCard from '../components/LinkCard.astro';
import Card3 from '../components/Card3.astro';
---

<Layout title="FAQ | Pump Factory">
	<main>
		<Hero title={'FAQs'} hasImage={true} image={pf8 as any}/>
		<section class="faq">
            <ul>
                <li>
                    <LinkCard title={'Q: What is bouldering, and how is it different from regular climbing?'}
                    body={'Bouldering is a form of rock climbing that involves climbing short routes, or "problems," without the use of ropes or harnesses. It focuses on strength, technique, and problem-solving. Unlike traditional climbing, bouldering is done at lower heights, typically up to 15 feet, with the emphasis on power and agility.'}
                    />
                </li>
                <li>
                    <LinkCard title={'Q: What are the benefits of bouldering?'}
                    body={'Bouldering offers a full-body workout that enhances strength, flexibility, and cardiovascular fitness. It also improves problem-solving skills, mental focus, and builds a strong sense of community among climbers.'}
                    />
                </li>
                <li>
                    <LinkCard title={'Q: Are there any risks involved in bouldering?'}
                    body={'While bouldering is generally safe, like any physical activity, it carries some risks. Potential injuries include sprains, strains, or bruises. Proper technique, adequate warm-up, and attentive spotting can minimize these risks.'}/>
                </li>
                <li>
                    <LinkCard title={'Q: Do I need any prior experience to start bouldering?'}
                    body={'No prior experience is required! Bouldering is suitable for all skill levels, and our gym caters to beginners with routes of varying difficulty. Our staff is also available for introductory sessions and assistance.'}/>
                </li>
                <li>
                    <LinkCard title={'Q: What equipment do I need for bouldering at Pump Factory?'}
                    body={'All you need are comfortable athletic clothes and climbing shoes. We provide rental shoes, but many climbers prefer to use their own for a more personalized fit. Chalk is also recommended for better grip.'}/>
                </li>
                <li>
                    <LinkCard title={'Q: Is bouldering suitable for all ages?'}
                    body={'Yes, bouldering is an inclusive activity suitable for all ages. We offer climbing options for children and adults, and our staff can help tailor the experience to accommodate different skill levels.'}/>
                </li>
                <li>
                    <LinkCard title={'Q: Can I climb alone, or do I need a partner?'}
                    body={'Bouldering is often done individually, and you don\'t need a climbing partner. However, having a supportive community can enhance your experience. Our gym is designed for both solo and group climbing.'}/>
                </li>
                <li>
                    <LinkCard title={'Q: How do I progress in difficulty as I improve my skills?'}
                    body={'Our bouldering problems are color-coded by difficulty level, allowing you to gradually progress from easier to more challenging routes. As you gain confidence and skill, you can explore higher grades and intricate climbing techniques.'}/>
                </li>
                    <li>
                    <LinkCard title={'Q: Are there any fitness requirements to start bouldering?'}
                    body={'Bouldering is adaptable to various fitness levels. Whether you\'re a beginner or an experienced climber, our gym provides a range of routes to cater to different abilities. The more you climb, the more you\'ll naturally enhance your fitness.'}/>
                </li>
                    <li>
                    <LinkCard title={'Q: How can I get involved in the Pump Factory climbing community?'}
                    body={'Joining the Pump Factory community is easy! Attend our events, participate in climbing leagues, or simply strike up conversations with fellow climbers. We also offer classes and workshops for skill improvement and social engagement.'}/>
                </li>
            </ul>
		</section>
	</main>
</Layout>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;

    main {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // text-align: center;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
        }
    }

    .faq {
        text-align: left;
        margin: 5% auto;
        ul li {
            list-style: none;
            margin-bottom: 16px;
            color: $txt-primary-color;
        };

        h1 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1;
            margin: 1em auto;
        }

        p {
            line-height: 1.6;
            margin-bottom: 40px;
        }
    }

    .text-gradient {
        @include text-gradient($direction, $colors);
    }

    @media (max-width: 540px) {
        h1 {
            font-size: 2rem;
        }

        .container .section-headline {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    @media (max-width: 768px) {
        
        section {
            padding-bottom: 48px;
        }
    }
</style>
