---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import Card from '../components/Card.astro';
import pf16 from '../images/pf-016.webp'
import pf2 from '../images/pf-002.webp'
import pf6 from '../images/pf-006.webp'
import Hero from '../components/Hero.astro';
---

<Layout title="Home Pump Factory">
	<main>
		<Hero title='The Pump ' subtitle={'Factory'} hasImage={true} image={pf16 as any} />
		<section class="index-container">
			<Card src={pf6} alt='some string'/>
			<p class="section-headline">Super-charge your climbing experience at Iloilo's premier climbing destination Pump Factory – more than just a gym, it's a vertical adventure waiting to be explored.</p>
			
		</section>
		<section class="container2">
			<Card src={pf2} alt='pumpFactory gym'/>
			<div class='card-list'>
				<h2 class="section-headline">Start your journey here</h2>
				
				<ul role="list" class="link-card-grid">
					<LinkCard
						href="/services"
						title="Browse through our services"
						body="Check out the different packages on offer."
					/>
					<LinkCard
						href="faq"
						title="FAQ's"
						body="Get started on your bouldering journey. Read the FAQ's here."
					/>
					<LinkCard
						href="#"
						title="Registration Details"
						body="lorem ipsum dolor, sit amet lorem ipsum dolor, sit amet"
					/>
			</div>
		</section>


		</ul>
	</main>
</Layout>

<style lang="scss">
@use '../styles/style';
	.index-container {
		display: flex;
		flex-direction: row;
		width: auto;
		justify-content: space-evenly;
		flex-shrink: 3;
		gap: 5rem;
		margin: 5% auto;

		.section-headline {
			font-size: 2rem;
			font-weight: 500;
			line-height: 4rem;
			width: 70%
		}
	}
	.container2 {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
		justify-content: center;
		flex-shrink: 3;
		gap: 5rem;

		.card-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: auto;
			gap: .3rem;
			height: 100%;
			
			.section-headline {
				font-size: 2rem;
				font-weight: 500;
				text-align: center;
				line-height: 3rem;
				margin: none;
				width: 100%
			}
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: .5rem;
		padding: 0;
	}

	@media (max-width: 1024px) {
		.index-container {
			flex-direction: column;
			align-items: center;
			gap: .25rem;
		}
		.section-headline {
		text-align: center;
		width: auto;
	}
		.container2 {
			flex-direction: column;
			align-items: center;
			gap: .25rem;
			div {
				margin: none;
			}

		}
	}
	@media (max-width: 540px) {
		section {
			padding-bottom: 64px;
		}
        h1 {
		font-size: 2rem;
		text-align: center;
	}
        .title-container {
            text-align: center;
            margin-bottom: -40px
        }

		.container .section-headline {
			font-size: 2rem;
			line-height: 2.5rem;
		}

    }
	@media (max-width: 768px) {
		section {
			margin-bottom: 64px;
		}
	}
</style>
