---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import services from '../images/services.jpg'
import { Image } from 'astro:assets';
import Card2 from '../components/Card2.astro';
import Card3 from '../components/Card3.astro';
---

<Layout title="About The Pump Factory">
	<main>
		<Hero title={'Products and Services'} hasImage={false} />
        <div class="container">
            <!-- <Hero  hasImage={true} image={services as any} /> -->
            <Card3>
            <Image src={services as any} alt="service-list" class='image-responsive' />
            </Card3>
        </div>
		<section class="about-us">
			<h1>We Also Offer</h1>
			<p>Outdoor Climbing Tours</p>

				<p>
					Climbing Certifications
				</p>
				
				<p>
					Training Guidance and Classes
				</p>
				
				
				<p><em>*Reach out to any one of our friendly staffs for more details.</em></p>


		</section>
	</main>
</Layout>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;

    main {
        margin: auto;
        // width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .container {

            align-items: center;
            width: 85%;
		    margin: auto;

            .image-responsive {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .about-us {
        text-align: left;
        margin-bottom: 48px;

        h1 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1;
            margin: 1em auto;
        }

        p {
            line-height: 1.6rem;
            margin-bottom: 40px;
        }
    }

    .text-gradient {
        @include text-gradient($direction, $colors);
    }

    @media (max-width: 540px) {
        h1 {
            font-size: 2rem;
        }

        .container {
            font-size: 2rem;
            line-height: 2rem;

        }

    }
</style>
