---

---


<div class="card2-container">
<slot />
</div>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;
	.card2-container {
	border: 8px transparent rgba($accent-light, 0);
	background: rgba(#555, 50%);
	filter: brightness(0.6);
	border-radius: 8px;
	padding: 4px;
	// margin: 2rem;
	}

	
	@media (max-width: 1024px) {
		.card2-container {
			width: 100%;
			// margin-bottom: 32px;
			margin: none;
		}
	}

</style>