---

---


<div class="card2-container">
<slot />
</div>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;
	.card2-container {
	border: 8px transparent rgba($accent-light, 100);
	background: #555;
	filter: brightness(0.4);
	border-radius: 8px;
	padding: 4px;
	margin: 2rem;
	}

	
	@media (max-width: 1024px) {
		.card2-container {
			width: auto;
			margin-bottom: 32px;
		}
	}

</style>