---
import { Icon } from 'astro-iconify'
---

<footer>
    <div class="footer">

        <span>Copyright &copy; 2023 All Rights Reserved</span>
        <div class="socials">
        <ul>
            <li><a href="https://www.facebook.com/thepumpfactoryiloilo" target="blank"><Icon name="bxl:facebook-circle" /></a></li>
            <li><a href="https://www.instagram.com/thepumpfactoryiloilo/" target="blank"><Icon name="bxl:instagram" /></a></li>
        </ul>
    </div>
    </div>

</footer>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;

    footer {
        @include linear-gradient;
        background-color: $theme-color-5;
        width: 100%;
        padding: 8px 0;
        justify-content: space-between;

    }
    .footer {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        span {
            color: $txt-primary-color;
        }
    }

    .socials {
        margin:  16px 0;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: auto;

        li {
            list-style: none;
            margin-right: 32px;
            svg {
                height: 32px;
                bottom: 12px;
            }
        }
        a {
            color: $txt-primary-color;
            font-size: x-large;
            &:hover {
                opacity: .5;
            // @include  text-gradient($direction, red);
            transition: .7s ease-in-out;
           }
         }
    }


     @media (max-width: 768px) {

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;

            span, .socials ul li{
                margin: 0 16px;
                justify-content: center;
                align-items: left;
                text-align: center;
                list-style: none;
                margin-right: 1px;
            }
        }
     }
     
</style>