---
---

<!-- Puts an overlay for hamburger menu -->
<div id="overlay">

</div>

<button id="menu-btn" class="hamburger" type="button">
    <span class="hamburger-top hbg"></span>
    <span class="hamburger-middle hbg"></span>
    <span class="hamburger-bottom hbg"></span>
  </button>

        
    <nav id="mobile-menu" class="mobile-main-menu" aria-label="mobile">
        <ul>
            <li><a href="/" class="">Home</a></li>
            <li><a href="/about" class="">About</a></li>
            <li><a href="/contact" class="">Contact</a></li>
        </ul>
    </nav>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;

.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: none;
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(5px);
}
.hamburger-bottom {
    transform: translateY(10px);
}

/* Transition hamburger to X when open */

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.hbg {
    background: white;
}
/* overlay */

.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: #000;
    opacity: 0.75;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

li {
    list-style: none;
}

a:not(.unstyled), a:visited{
        text-decoration: none;
        text-transform: uppercase;
        font-size: x-large;
        color: white;
    }
a:hover {
    @include  text-gradient($direction, $colors);
    transition: .5s ease-in-out;
}

.show-menu {
    transform: translateX(0);
}
@media (min-width: 768px){
    .hamburger {
        display: none;
    }
}

</style>