---
import logo from '../images/logo.svg';
---

<header>
    <div class="container flex justify-between bg-gray-500 mx-0">
        <div class="flex text-3xl text-white font-bold underline mx-8">
            <img src= {logo.src} alt="Pump Factory logo" class="w-32 color">
            <h1 class="ml-8 mt-8">Pump Factory</h1>
        </div>
        <nav>
            <ul class="flex gap-8 mt-10 text-white text-lg font-bold mx-8">
                <li><a href="/" class="hover:text-darkGrayishBlue">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>