---
import logo from "../images/PumpFactory.webp"
interface Props {
    title: string
    subtitle?: string
}

const { title, subtitle} = Astro.props
---

<header>
    <div class="container">
        <div class="brand-container">
            <div class="logo-container">
                <a href="#">
                    <img src={logo.src} alt="pump factory logo" />
                </a>
            </div>
            <div class="title-container">
                <h1>{title}</h1>
                <p>{subtitle}</p>
            </div>
        </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
    </div>
</header>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;

 
    header {
        background: inherit;
        width: 100%;
        padding-bottom: 8px;

    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto;
        width: 80%;

    }
    .brand-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        gap: 16px;
        align-items: center;
    }
    .title-container {
        display: flex;
        padding: 32px 0;
        flex-direction: column;
        text-align: left;
        color: whitesmoke

    }
    img{
    width: 120px;
    height: auto;
    padding-top: 8px;
    }
    

    ul{
        display: flex;
        flex-direction: row;

    }
    
    li {
        list-style: none;
        text-align: center;
        align-items: bottom;
        padding-right: 32px;
        
    }
    a, a:visited{
        text-decoration: none;
        text-transform: uppercase;
        font-size: x-large;
        color: whitesmoke;
    }

    a:hover {
        opacity: .65;
        @include  text-gradient($direction, $colors);
        transition: .4s ease-in-out;
    }

    @media (max-width: 768px) {
        nav {
            display: none;
        }

    }
    @media (max-width: 540px) {
        .brand-container {
            transform: translateX(49%);
            display: flex;
            flex-direction: column-reverse;
            width: 50%;
            align-items: left;
        }
        .title-container {
            text-align: center;
            margin-bottom: -40px;
            p {
                display:none
            }
        }

    }

</style>