---
import logo from "../images/PumpFactory.webp"
import logo2 from "../images/pumpFactory-newLogo2.svg"
import {Image}  from "astro:assets"
import { fade, slide } from "astro:transitions"

interface Props {
    title: string
    // title2?: string
    subtitle?: string
}

const { title, subtitle} = Astro.props
---

<header transition:animate={slide({ duration: '.4s' })}>
    <div class="container">
        <div class="brand-container">
            <div class="logo-container">
                <Image src={logo2 as any} alt="pump factory logo" />
            </div>
            <div class="title-container">
                <div class="title-container2">
                <h1 class="title">{title}</h1>
                </div>
                <p>{subtitle}</p>
            </div>
        </div>
        <nav class="desktop-main-menu">
            <ul>
                <li class=""><a href="/" class="" data-value="home">Home</a></li>
                <li class=""><a href="/" class="" data-value="blog">Blog</a></li>
                <li class=""><a href="/about" class="" data-value="about">About</a></li>
                <li class=""><a href="/contact" class="" data-value="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<style lang="scss">
    @use '../styles/style.scss';
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;
    @use '../styles/glitch' as *;

    header {
        position: relative;
        width: 100%;
        padding-bottom: 16px;
        &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../images/headerpic.svg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(40%);
        z-index: -1;
    }
        
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto;
        width: 80%;
        
    }
    .brand-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        gap: 16px;
        align-items: center;
    }
    .title-container {
        color: dimgray;
        display: flex;
        padding: 32px 0;
        flex-direction: column;
        text-align: left;
        color:$theme-color-7;
        font-style: italic;
    }
    img{
    width: 120px;
    height: auto;
    padding-top: 8px;
    }
    
    .desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
}
    ul{
        display: flex;
        li {
            list-style: none;
            text-align: center;
            align-items: bottom;
            // padding-right: 32px;
            
        }
        a, a:visited{
            text-decoration: none;
            text-transform: uppercase;
            font-size: large;
            color: $txt-primary-color;
            &:hover {
                opacity: .9;
                color: $theme-color-7;
                transition: .3s ease-in-out;
            }
        }
    }
    
   .desktop-main-menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $theme-color-7;;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}

    @media (max-width: 768px) {
        nav {
            display: none;
        }

    }
    @media (max-width: 540px) {
        .brand-container {
            transform: translateX(49%);
            display: flex;
            flex-direction: column-reverse;
            width: 50%;
            align-items: left;
        }
        .title-container {
            text-align: center;
            margin-bottom: -40px;
            p {
                display:none
            }
        }

    }

</style>