---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Hamburger from '../components/Hamburger.astro';
import '../styles/style.scss'
import '@fontsource/space-mono';
import '@fontsource-variable/sora'
import { ViewTransitions } from 'astro:transitions';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The Pump Factory Page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>

		</head>
	<body>
		<Header title='Pump Factory' subtitle= "Embrace the PUMP" />
		<Hamburger transition:persist />
		<slot />
		<Footer />

	</body>
</html>
<script>
	import '../scripts/hamburger.js'
</script>

