---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Hamburger from '../components/Hamburger.astro';
import '@fontsource-variable/sora'
import _variables from '../styles/_variables.scss'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Code and Y Website" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://kit.fontawesome.com/72852e9073.js" crossorigin="anonymous"></script>
		<title>{title}</title>

		</head>
	<body>
		<Header title='Pump Factory' subtitle= "embrace the PUMP" />
		<Hamburger />
		<slot />
		<Footer />

	</body>
</html>
<script>
	import '../scripts/hamburger.js'
</script>
<style is:global lang="scss">
	*,*::before, *::after {
		box-sizing: border-box; 
		margin: 0; 
		padding: 0;
	}
	html {
		font-family: 'Sora variable', sans-serif;
		background: #000;
		color: #333;
		width: auto;
		align-items: center;
	}
	body {
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	/* stop body scrolling */
.stop-scrolling {
    overflow: hidden;
}

</style>
